@font-face {
    font-family: "fontavenirlight";
    src        : url("../../plugin/fonts/avenir/AvenirLTStd-Light.otf");
}

@font-face {
    font-family: "fontavenirbook";
    src        : url("../../plugin/fonts/avenir/AvenirLTStd-Book.otf");
}

@font-face {
    font-family: "fontavenirmedium";
    src        : url("../../plugin/fonts/avenir/AvenirLTStd-Medium.otf");
}

@font-face {
    font-family: "fontavenirblack";
    src        : url("../../plugin/fonts/avenir/AvenirLTStd-Black.otf");
}

@font-face {
    font-family: "fontcalisto";
    src        : url("../../plugin/fonts/Calistoga-Regular.ttf")
}

@font-face {
    font-family: "fontGraphikMedium";
    src        : url("../../plugin/fonts/graphik/GraphikMedium.otf");
}

@font-face {
    font-family: "fontGraphikLight";
    src        : url("../../plugin/fonts/graphik/GraphikLight.otf");
}

@font-face {
    font-family: "fontGraphikSemibold";
    src        : url("../../plugin/fonts/graphik/GraphikSemibold.otf");
}

@font-face {
    font-family: "fontGraphikRegular";
    src        : url("../../plugin/fonts/graphik/GraphikRegular.otf");
}


@font-face {
    font-family: "fontNova";
    src        : url("../../plugin/fonts/HKNova-Medium.otf");
}

@font-face {
    font-family: "fontLatoRegular";
    src        : url("../../plugin/fonts/lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "fontLatoBlack";
    src        : url("../../plugin/fonts/lato/Lato-Black.ttf");
}

@font-face {
    font-family: "fontLatoBold";
    src        : url("../../plugin/fonts/lato/Lato-Bold.ttf");
}



// section 1 css starts here

.healthcare {
    font-family   : "fontLatoRegular";
    letter-spacing: 0px;
    color         : #F27D35;
    opacity       : 1;
    font-size     : 1.5rem;
    font-weight   : 400;

}
.index_head {
    margin-top: 150px;

    .title_web {
        .healthcare {
            font-family   : "fontLatoRegular";
            letter-spacing: 0px;
            color         : #F27D35;
            opacity       : 1;
            font-size     : 1.5rem;
            font-weight   : 400;

        }

        .managed_care_title {
            letter-spacing: 0px;
            color         : #363A57;
            opacity       : 1;

            font-family: "fontGraphikSemibold";
            font-size  : 60px;
            font-weight: 700;
        }

        .Title_details {
            text-align    : left;
            margin-top    : 20px;
            letter-spacing: 0px;
            color         : #595959;
            opacity       : 1;
            font-family   : "fontLatoRegular";
            line-height: 2.1;
            font-weight: 400;
            font-size  : 18px;
        }

        .Title_details_1 {
            text-align    : left;
            margin-top    : 20px;
            letter-spacing: 0px;
            color         : #595959;
            opacity       : 1;
            line-height   : 2.1;
            font-family   : "fontLatoRegular";
            font-weight   : 400;
            font-size  : 18px;

        }

        .platform_deliverables {
            margin-top : 30px;
            margin-left: 1px;

            .platform {
                border-left: 3px solid #F27D35;
                line-height: 6px;
            }

            .deliverables {

                border-left: 3px solid #F27D35;
                line-height: 4px;
            }

            .common_title {
                margin-top    : 4px;
                font-family   : "fontLatoRegular";
                letter-spacing: 0px;
                color         : #595959;
                opacity       : 1;
                font-size     : 14px;
            }
            .common_description {
                top           : 15px;
                position      : relative;
                letter-spacing: 0px;
                color         : #363A57;
                opacity       : 1;
                font-family   : "fontGraphikSemibold";
                font-size     : 16px;
                font-weight   : bold;
            }
            .common_title_1 {
                margin-top    : 4px;
                font-family   : "fontLatoRegular";
                letter-spacing: 0px;
                color         : #595959;
                opacity       : 1;
                font-size     : 14px;
            }
            .common_description_1 {
                top           : 21px;
                position      : relative;
                letter-spacing: 0px;
                color         : #363A57;
                opacity       : 1;
                font-family   : "fontGraphikSemibold";
                font-size     : 16px;
                font-weight   : bold;

                .android {
                    width: 15px;

                }
            }
        }
    }
}

.blue_section {
    background-color: #353596;
    padding-bottom  : 100px;
    margin-top      : -80px !important;

    .first_one {
        margin-top: 80px;

        .our_approach {
            margin-top    : 80px;
            text-align    : center;
            font-family   : "fontGraphikSemibold";
            letter-spacing: 0px;
            color         : #FFFFFF;
            opacity       : 1;
            font-size     : 46px;
        }

        .linediv {
            text-align: center;
            margin-top: 3px;
        }

        .lined {
            width: 13%;
        }
    }

    .second_one {
        margin-top: 0px;

        .next_line {
            margin-top: 80px;
            padding   : 0px;
        }

        .lined_1 {
            position: relative;
            height  : 70%;
            top     : 20px;
        }

        .weeks {
            font-size     : 18px;
            letter-spacing: 0px;
            color         : #FF6495;
            opacity       : 1;
            font-family   : "fontLatoRegular";
            margin-bottom : 0px;
        }

        .planning_evegelism {
            letter-spacing: 0px;
            color         : #FEFEFE;
            opacity       : 1;
            font-size     : 40px;
            font-family   : "fontLatoRegular";
        }

        .lists_order {
            padding-inline-start: 14px;
            list-style-image    : url('/images/Rectangle\ 1118.svg');

            .list_details {
                color      : #FFFFFF;
                opacity    : 0.4;
                line-height   : 2.1;
            font-family   : "fontLatoRegular";
            font-weight   : 400;
            font-size  : 1.25rem;
            }

        }

    }

    .third_one {
        margin-top: 0px;

        .next_line_1 {
            margin-top: 80px;
            padding   : 0px;
            text-align: center;
        }

        .lined_1 {
            position: relative;
            height  : 70%;
            top     : 20px;
        }

        .weeks {
            font-size     : 18px;
            letter-spacing: 0px;
            color         : #FF6495;
            opacity       : 1;
            font-family   : "fontLatoRegular";
            margin-bottom : 0px;
        }

        .planning_evegelism {
            letter-spacing: 0px;
            color         : #FEFEFE;
            opacity       : 1;
            font-size     : 40px;
            font-family   : "fontLatoRegular";
        }

        .lists_order {
            padding-inline-start: 14px;
            list-style-image    : url('/images/Rectangle\ 1118.svg');

            .list_details {
                color      : #FFFFFF;
                opacity    : 0.4;
                line-height: 2.8rem;
                font-family   : "fontLatoRegular";
                font-weight   : 400;
                font-size  : 1.25rem;
            }

        }

    }

    .fourth_one {
        margin-top: 0px;

        .next_line {
            margin-top: 80px;
            padding   : 0px;
        }

        .lined_1 {
            position: relative;
            height  : 70%;
            top     : 20px;
        }

        .weeks {
            font-size     : 18px;
            letter-spacing: 0px;
            color         : #FF6495;
            opacity       : 1;
            font-family   : "fontLatoRegular";
            margin-bottom : 0px;
        }

        .planning_evegelism {
            letter-spacing: 0px;
            color         : #FEFEFE;
            opacity       : 1;
            font-size     : 40px;
            font-family   : "fontLatoRegular";
        }

        .lists_order {
            padding-inline-start: 14px;
            list-style-image    : url('/images/Rectangle\ 1118.svg');

            .list_details {
                padding-left: 2px;
                color       : #FFFFFF;
                opacity     : 0.4;
                line-height : 2.8rem;
                font-family   : "fontLatoRegular";
                font-weight   : 400;
                font-size  : 1.25rem;
            }

        }

    }

    .fifth_one {
        margin-top             : 40px;
        padding-top            : 80px;
        padding-bottom         : 70px;
        background-color       : rgb(49, 49, 131);
        backdrop-filter        : blur(5px) !important;
        -webkit-backdrop-filter: blur(9px) !important;
        border-radius          : 35px;

        .img_section {
            text-align: center;

            .img_common_1 {
                width: 30%;
            }

        }

        .linediv {
            padding-top: 30px;
            text-align : center;
        }

        .launch_title {
            padding-top: 20px;

            text-align    : center;
            font-family   : "fontGraphikSemibold";
            letter-spacing: 2.22px;
            color         : #FFFFFF;
            opacity       : 1;
            font-size     : 46px;
        }

        .paragraph_launch {
            padding-top: 30px;

            .launch_description {
                text-align: center;
                color     : #FFFFFF;
                opacity   : 0.4;
                font-family   : "fontLatoRegular";
                font-weight   : 400;
                font-size  : 1.25rem;
            }
        }

        .paragraph_launch_1 {
            padding-top: 15px;

            .launch_description_1 {
                text-align: center;
                color     : #FFFFFF;
                opacity   : 0.4;
                font-family   : "fontLatoRegular";
                font-weight   : 400;
                font-size  : 1.25rem;
            }
        }

        .paragraph_launch_2 {
            padding-top: 15px;

            .launch_description_2 {
                text-align: center;
                color     : #FFFFFF;
                opacity   : 0.4;
                font-family   : "fontLatoRegular";
                font-weight   : 400;
                font-size  : 1.25rem;

            }
        }

    }
}
.mobile
{
    display:none;
}

.img_common {
    width: 80%;
}

.index_head_1 {
    margin-top: 50px;

    .title_web {


        .managed_care_title {
            letter-spacing: 0px;
            color         : #363A57;
            opacity       : 1;
            font-size     : 46px;
            font-family   : "fontGraphikSemibold";
        }



        .Title_details_1 {
            text-align    : left;
            margin-top    : 30px;
            letter-spacing: 0px;
            color         : #595959;
            opacity       : 1;
            font-family   : "fontLatoRegular";
                font-weight   : 400;
                font-size  : 18px;
                line-height: 2.1;
        }
    }
}

.quick_onboard {

    background-color: #35359608;
    padding-bottom  : 60px;

    .index_head_1 {
        margin-top: 70px;
    }

    .image_quick_on {
        margin-top: 40px;

        .img_onboard {
            width: 90%;
        }
    }
}

.img_onboard_1 {
    width : 100%;
    height: 100%;
}

.manage_availablity {
    background-color: #F27D350D;
    margin-top      : 280px;
    height          : 600px;

    .img_availability {
        width   : 100%;
        position: relative;
        bottom  : 300px;
    }
}

.activities_img {
    width: 100%;
}

.service {
   

    .index_head_12 {
        margin-top      : 100px;
        background-color: #FFF8F4;
        padding         : 100px 0px;

        .sevice_1 {
            text-align: end;
        }

        .img_onboard {
            position: relative;

            width: 60%;
        }

        .img_onboard_2 {
            position: relative;
            bottom  : 200px;
            width   : 60%;
        }
    }
}

.monitoring_web {
    margin-top      : 200px;
    padding         : 100px 0px 50px 0px;
    background-color: #FFF8F4;
    height          : 600px;

    .monitoring_img_section {
        .image_quick_on_1 {
            .img_onboard_3 {
                width   : 100%;
                position: relative;
                bottom  : 160px;
            }

            .img_onboard_4 {
                width   : 100%;
                position: relative;
                bottom  : 60px;
            }

            .img_onboard_5 {
                width   : 100%;
                position: relative;
                bottom  : 160px;
            }

            .img_onboard_6 {
                width   : 100%;
                position: relative;
                bottom  : 125px;
            }

            .img_onboard_7 {
                width   : 100%;
                position: relative;
                bottom  : 25px;
            }

            .img_onboard_8 {
                width   : 100%;
                position: relative;
                bottom  : 125px;
            }

        }
    }
}

.administration {
    margin-top: 300px;

    .Title_details_1 {
        text-align: left;

        letter-spacing: 0px;
        color         : #595959;
        opacity       : 1;
        font-family   : "fontLatoRegular";
        font-weight   : 400;
        font-size  : 16px;
        line-height: 2.1;
    }

    .main_admin {
        padding-top: 100px;

        .admin_img {
            padding-top        : 100px;
            background         : url('/images/Ellipse\ 258.svg');
            background-repeat  : no-repeat;
            background-position: 50% 10%;
            height             : 900px;

            .amin_1 {
                text-align   : end;
                padding-right: 0px;

                .amin_img_1 {
                    width   : 80%;
                    position: relative;
                    top     : 150px;
                }
            }

            .amin_2 {
                text-align: center;
                padding   : 0px;

                .amin_img_2 {
                    width: 85%;
                }
            }

            .amin_3 {
                text-align  : left;
                padding-left: 0px;

                .amin_img_3 {
                    width   : 80%;
                    position: relative;
                    top     : 100px;
                }
            }
        }
    }
}

.conversation_section {
    background-color: #FFF8F4;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(#FFF8F4, #FFFFFF);

    .conversation_container {
        padding: 100px 0px;

        .title_web {
            margin-top: 150px;
        }

        .conver_img_section {
            .conver_img {
                width: 70%
            }
        }
    }
}

.quick_onboard_1 {

    background-color: #FFF8F4;
    padding-bottom  : 100px;

    .index_head_1 {
        margin-top: 100px;

        .title_web {
            margin-top: 50px;
        }
    }

    .image_quick_on {
        margin-top: 40px;

        .rec_img_1 {
            text-align  : center;
            padding-left: 0px;

            .img_onboard_2 {
                width: 110%;
            }
        }

        .rec_img_2 {
            padding-left: 0px;
            text-align  : center;
        }

        .img_onboard_1 {
            width: 90%;
        }

        .img_onboard_3 {
            text-align: left;
            width     : 100%;
            height    : 100%;
            margin-top: 28px;
        }
    }
}

.notification {
    margin-top         : 100px;
    background         : url('/images/Ellipse\ 258.svg');
    background-repeat  : no-repeat;
    background-position: 40% 10%;
    height             : 900px;

    .Title_details_1 {
        text-align    : left;
        margin-top    : 20px;
        letter-spacing: 0px;
        color         : #595959;
        opacity       : 1;
        font-family   : "fontLatoRegular";
                font-weight   : 400;
                font-size  :16px;
                line-height: 2.1;
    }

    .main_admin {

        .admin_img {




            .amin_1 {
                text-align   : end;
                padding-right: 0px;

                .amin_img_1 {
                    width   : 60% ;
                    position: relative;
                    top     : 100px;
                }
            }

            .amin_2 {

                text-align: left;
                padding   : 0px;
                top       : 10px;

                .amin_img_2_2 {
                    width: 60% ;

                }
            }

        }
    }

}

.back_svg {
    background: url('/images/Ellipse\ 259.svg');

}

.index_head_5 {
    margin-top: 0px;

    .title_web {
        .healthcare {
            font-family   : "fontLatoRegular";
                font-weight   : 400;
                font-size  : 16px;
                line-height: 2.1;
            letter-spacing: 0px;
            color         : #F27D35;
            opacity       : 1;
           

        }

        .managed_care_title {
            letter-spacing: 0px;
            color         : #363A57;
            opacity       : 1;
            font-size     : 46px;
            font-family   : "fontGraphikSemibold";

        }



        .Title_details_1 {
            text-align    : left;
            margin-top    : 30px;
            letter-spacing: 0px;
            color         : #595959;
            opacity       : 1;
            font-family   : "fontLatoRegular";
                font-weight   : 400;
                font-size  : 16px;
                line-height: 2.1;

        }

    }
}

.yellow_line {
    width           : 50px;
    height          : 7px;
    background-color: #FFCB05;
    padding         : 0px 0px 0px 30px;
    border-radius   : 10px;
    margin-left     : 4px;

}

.image_quick_on_6 {
    margin-top: 40px;
}

.manage_products_image_1 {
    width     : 100%;
    margin-top: 20px;
}

.college_section {
    margin-top: 40px;

    .college_1 {
        width : 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 1440px) {

    body {
        overflow-x: hidden;
    }

}

@media only screen and (max-width: 1025px) {

    body {
        overflow-x: hidden;
    }

    .index_head .title_web .healthcare {
        font-family   : "fontLatoRegular";
        letter-spacing: 0px;
        color         : #F27D35;
        opacity       : 1;
        font-size     : 16px;
    }

    .index_head .title_web .managed_care_title {
        letter-spacing: 2.22px;
        color         : #363A57;
        opacity       : 1;
        font-size     : 46px;
        font-family   : "fontGraphikSemibold";
    }

    .blue_section .first_one .our_approach {
        margin-top    : 80px;
        text-align    : center;
        font-family   : "fontGraphikSemibold";
        letter-spacing: 2.22px;
        color         : #FFFFFF;
        opacity       : 1;
        font-size     : 46px;
    }

    .blue_section .fifth_one .launch_title {
        padding-top   : 20px;
        text-align    : center;
        font-family   : "fontGraphikSemibold";
        letter-spacing: 2.22px;
        color         : #FFFFFF;
        opacity       : 1;
        font-size     : 46px;
    }

    .index_head_1 .title_web .managed_care_title {
        letter-spacing: 2.22px;
        color         : #363A57;
        opacity       : 1;
        font-size     : 46px;
        font-family   : "fontGraphikSemibold";
    }

    .index_head_5 .title_web .managed_care_title {
        letter-spacing: 2.22px;
        color         : #363A57;
        opacity       : 1;
        font-size     : 46px;
        font-family   : "fontGraphikSemibold";
    }




    .index_head .title_web .Title_details {
        text-align: left;
        margin-top: 20px;
        letter-spacing: 1px;
        color: #595959;
        opacity: 1;
        font-family: "fontLatoRegular";
        line-height: 2.1;
        font-weight: 400;
        font-size: 16px;
    }

    .index_head .title_web .Title_details_1 {
        text-align: left;
        margin-top: 20px;
        letter-spacing: 1px;
        color: #595959;
        opacity: 1;
        line-height: 2.1;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 16px;
    }
    .index_head .title_web .platform_deliverables .common_description {
        top: 15px;
        position: relative;
        letter-spacing: 0.66px;
        color: #363A57;
        opacity: 1;
        font-family: "fontGraphikSemibold";
        font-size: 16px;
        font-weight: bold;
    }
    .index_head .title_web .platform_deliverables .common_description_1 {
        top: 21px;
        position: relative;
        letter-spacing: 0.66px;
        color: #363A57;
        opacity: 1;
        font-family: "fontGraphikSemibold";
        font-size: 15px;
        font-weight: bold;
    }
    
}

@media only screen and (max-width: 427px) {


    .index_head_1 
    {
        margin-top:50px ;

    .title_web_12
    
    {
        padding-left:0px;
        padding-right:0px;
        
        .managed_care_title_1 {
        letter-spacing: 0px;
        color: #363A57;
        opacity: 1;
        font-size: 33px;
        font-family: "fontGraphikSemibold";
        padding: 0px;
    }
    .Title_details_1 {
        text-align: left;
        margin-top: 30px;
        letter-spacing: 0px;
        color: #595959;
        opacity: 1;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 18px;
        line-height: 2.1;
    }
}
    }
  
    .index_head .title_web .platform_deliverables .deliverables {
        border-left: 3px solid #F27D35;
        line-height: 27px;
        margin-top: 30px;
        position: sticky;
    }
    .index_head .title_web .platform_deliverables .common_title_1 {
        margin-top: 0px;
        font-family: "fontLatoRegular";
        letter-spacing: 0px;
        color: #595959;
        opacity: 1;
        font-size: 14px;
    }
    .manage_availablity .img_availability {
        width: 100%;
        position: relative;
        bottom: 113px !important;
    }
    .manage_availablity {
        background-color: #F27D350D;
        margin-top: 100px !important;
        height: 200px !important;
    }
    .administration .main_admin .admin_img {
        padding-top: 41px !important;
        background: url('/images/Ellipse 258.svg');
        background-repeat: no-repeat;
        background-position: 42% 10%;
        height: 477px !important;
        background-size: 407px !important;
    }
    .notification {
        margin-top: 41px !important;
        background: url('/images/Ellipse 258.svg');
        background-repeat: no-repeat;
        background-position: 42% 70% !important;
        height: 777px !important;
        background-size: 407px !important;
    }
    .index_head .title_web .platform_deliverables .common_description_1 {
        top: 3px;
        position: relative;
        letter-spacing: 0.66px;
        color: #363A57;
        opacity: 1;
        font-family: "fontGraphikSemibold";
        font-size: 15px;
        font-weight: bold;
    }
    .index_head {
        margin-top: 150px;
    }
   
    .blue_section .second_one .next_line {
        margin-top: 25px;
        padding: 0px;
    }
    .blue_section .second_one .planning_evegelism {
        letter-spacing: 0px;
        color: #FEFEFE;
        opacity: 1;
        font-size: 30px;
        font-family: "fontLatoRegular";
    }
    .blue_section .second_one .lists_order .list_details {
        color: #FFFFFF;
        opacity: 0.4;
        line-height: 2.5;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 1.1rem;
    }
    .img_1
    {
        text-align: center;
        margin-top: 20px;
    }
    .mobile
{
    display:block;

}
.web{
display: none;
}

.blue_section .third_one .next_line_1 {
    margin-top: 40px;
    padding: 0px;
    text-align: left;
}
.img_common {
    width: 100%;
}
.blue_section .third_one .planning_evegelism {
    letter-spacing: 0px;
    color: #FEFEFE;
    opacity: 1;
    font-size: 30px;
    font-family: "fontLatoRegular";
}
.blue_section .third_one .lists_order .list_details {
    color: #FFFFFF;
    opacity: 0.4;
    line-height: 2.5rem;
    font-family: "fontLatoRegular";
    font-weight: 400;
    font-size: 1.1rem;
}
.blue_section .fourth_one .next_line {
    margin-top: 40px;
    padding: 0px;
}
.blue_section .fourth_one .planning_evegelism {
    letter-spacing: 0px;
    color: #FEFEFE;
    opacity: 1;
    font-size: 30px;
    font-family: "fontLatoRegular";
}
.blue_section .fourth_one .lists_order .list_details {
    padding-left: 2px;
    color: #FFFFFF;
    opacity: 0.4;
    line-height: 2.5rem;
    font-family: "fontLatoRegular";
    font-weight: 400;
    font-size: 1.1rem;
}
.img_common {
    width: 100%;
    margin-top: 30px;
}
.blue_section .fifth_one .img_section .img_common_1 {
    width: 50%;
}
.blue_section .fifth_one .paragraph_launch .launch_description {
    text-align: center;
    color: #FFFFFF;
    opacity: 0.4;
    font-family: "fontLatoRegular";
    font-weight: 400;
    font-size: 1.1rem;
}
.blue_section .fifth_one .paragraph_launch_1 .launch_description_1 {
    text-align: center;
    color: #FFFFFF;
    opacity: 0.4;
    font-family: "fontLatoRegular";
    font-weight: 400;
    font-size: 1.1rem;
}
.quick_onboard .image_quick_on .img_onboard {
    width: 100%;
}
.manage_availablity {
    background-color: #F27D350D;
    margin-top: 150px;
    height: 200px;
}
.man_availibility
{
    text-align: center;
}
.manage_availablity .img_availability {
    width: 100%;
    position: relative;
    bottom: 120px;
}
.index_head_1 .title_web .managed_care_title {
    letter-spacing: 2.22px;
    color: #363A57;
    opacity: 1;
    font-size: 30px;
    font-family: "fontGraphikSemibold";
}
.monitoring_web .monitoring_img_section .image_quick_on_1 .img_onboard_4 {
    width: 90%;
    position: relative;
    bottom: 0px;
}
.monitoring_web .monitoring_img_section .image_quick_on_1 .img_onboard_3 {
    width: 100%;
    position: relative;
    bottom: 0px;
}
.administration .main_admin {
    padding-top: 30px;
}
.conversation_section .conversation_container .title_web {
    margin-top: 0px;
}
.conversation_section .conversation_container {
    padding: 0px 0px;
}
.administration {
    margin-top: 46px;
}
.notification .main_admin .admin_img .amin_2 .amin_img_2 {
    width: 100%;
}
.notification .main_admin .admin_img .amin_1 .amin_img_1 {
    width: 100%;
    position: relative;
    top: 100px;
}
.index_head .title_web .Title_details {
    text-align: left;
    margin-top: 10px;
    letter-spacing: 0px;
    color: #595959;
    opacity: 1;
    font-family: "fontLatoRegular";
    line-height: 2.1;
    font-weight: 400;
    font-size: 17px;
}
.index_head .title_web .managed_care_title {
    letter-spacing: 2.22px;
    color: #363A57;
    opacity: 1;
    font-size: 35px;
    font-family: "fontGraphikSemibold";
}
.index_head_1 .title_web .Title_details_1 {
    text-align: left;
    margin-top: 10px;
    letter-spacing: 0px;
    color: #595959;
    opacity: 1;
    font-family: "fontLatoRegular";
    font-weight: 400;
    font-size: 17px;
    line-height: 2.1;
}
.amin_img_2_2 {
    width: 70% !important;
}
.blue_section .first_one .our_approach {
    margin-top: 80px;
    text-align: center;
    font-family: "fontGraphikSemibold";
    letter-spacing: 2.22px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 36px;
}
.administration .Title_details_1 {
    text-align: left;
    letter-spacing: 0px;
    color: #595959;
    opacity: 1;
    font-family: "fontLatoRegular";
    font-weight: 400;
    font-size: 17px;
    line-height: 2.1;
}
.notification .Title_details_1 {
    text-align: left;
    margin-top: 20px;
    letter-spacing: 0px;
    color: #595959;
    opacity: 1;
    font-family: "fontLatoRegular";
    font-weight: 400;
    font-size: 17px;
    line-height: 2.1;
}
.index_head_5 .title_web .managed_care_title {
    letter-spacing: 0px;
    color: #363A57;
    opacity: 1;
    font-size: 35px;
    font-family: "fontGraphikSemibold";
}
.index_head_5 .title_web .Title_details_1 {
    text-align: left;
    margin-top: 30px;
    letter-spacing: 0px;
    color: #595959;
    opacity: 1;
    font-family: "fontLatoRegular";
    font-weight: 400;
    font-size: 17px;
    line-height: 2.1;
}
.index_head .title_web .managed_care_title {
    letter-spacing: 0px;
    color: #363A57;
    opacity: 1;
    font-size: 35px;
    font-family: "fontGraphikSemibold";
}
.index_head_1 .title_web .managed_care_title {
    letter-spacing: 0px;
    color: #363A57;
    opacity: 1;
    font-size: 35px;
    font-family: "fontGraphikSemibold";
}
.blue_section .fifth_one .launch_title {
    padding-top: 20px;
    text-align: center;
    font-family: "fontGraphikSemibold";
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 35px;
}
.index_head .title_web .healthcare {
    font-family: "fontLatoRegular";
    letter-spacing: 0px;
    color: #F27D35;
    opacity: 1;
    font-size: 18px;
}
.healthcare {
    font-family: "fontLatoRegular";
    letter-spacing: 0px;
    color: #F27D35;
    opacity: 1;
    font-size: 18px;
    font-weight: 400;
}
.index_head_1 .title_web .managed_care_title {
    letter-spacing: 0px;
    color: #363A57;
    opacity: 1;
    font-size: 30px;
    font-family: "fontGraphikSemibold";
}
}

@media only screen and (max-width: 770px) {


    .web{
        display:none;
    }
    .mobile
    {
        display:block;
    }
    .blue_section .third_one .next_line_1 {
        margin-top: 40px;
        padding: 0px;
        text-align: left;
    }
    .blue_section .second_one .next_line {
        margin-top: 25px;
        padding: 0px;
    }
    .blue_section .second_one .planning_evegelism {
        letter-spacing: 0px;
        color: #FEFEFE;
        opacity: 1;
        font-size: 30px;
        font-family: "fontLatoRegular";
    }
    .blue_section .second_one .lists_order .list_details {
        color: #FFFFFF;
        opacity: 0.4;
        line-height: 2.5;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 1.1rem;
    }
    .img_1
    {
        text-align: center;
        margin-top: 20px;
    }
    .blue_section .third_one .next_line_1 {
        margin-top: 40px;
        padding: 0px;
        text-align: left;
    }
    
    .blue_section .third_one .planning_evegelism {
        letter-spacing: 0px;
        color: #FEFEFE;
        opacity: 1;
        font-size: 30px;
        font-family: "fontLatoRegular";
    }
    .blue_section .third_one .lists_order .list_details {
        color: #FFFFFF;
        opacity: 0.4;
        line-height: 2.5rem;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 16px;
    }
    .blue_section .fourth_one .next_line {
        margin-top: 40px;
        padding: 0px;
    }
    .blue_section .fourth_one .planning_evegelism {
        letter-spacing: 0px;
        color: #FEFEFE;
        opacity: 1;
        font-size: 30px;
        font-family: "fontLatoRegular";
    }
    .blue_section .fourth_one .lists_order .list_details {
        padding-left: 2px;
        color: #FFFFFF;
        opacity: 0.4;
        line-height: 2.5rem;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 16px;
    }
    .img_common {
        width: 70%;
        margin-top: 30px;
    }
    .blue_section .fifth_one .img_section .img_common_1 {
        width: 40%;
    }
    .blue_section .fifth_one .paragraph_launch .launch_description {
        text-align: center;
        color: #FFFFFF;
        opacity: 0.4;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 16px;
    }
    .blue_section .fifth_one .paragraph_launch_1 .launch_description_1 {
        text-align: center;
        color: #FFFFFF;
        opacity: 0.4;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 16px;
    }
    .image1
    {
      text-align: center;
    }
    .manage_availablity {
        background-color: #F27D350D;
        margin-top: 180px;
        height: 360px;
    }
    .manage_availablity .img_availability {
        width: 100%;
        position: relative;
        bottom: 200px;
    }
    .ing
    {
        text-align: end;
    }
    .img_onboard_3
    {
         width:70% !important;
    }
    .img_onboard_4
    {
        width:70% !important;
    }
.administration .main_admin .admin_img {
    padding-top: 100px;
    background: url('/images/Ellipse 258.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    height: 823px;
    background-size: 719px;
}
.amin_img_2
{
    width: 40% !important;
}
.administration .main_admin {
    padding-top: 40px;
}
.administration {
   
    margin-top: 80px;
}
.conversation_section .conversation_container .title_web {
    margin-top: 0px;
}
.conversation_section .conversation_container {
    padding: 0px 0px 50px 0px;
}
.conversation_section .conversation_container .conver_img_section .conver_img {
    width: 45%;
}
.img_onboard_1_1
{
    width:40% !important;
}
.notification {
    margin-top: 100px;
    background: url('/images/Ellipse 258.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    height: 823px;
    background-size: 719px;
}
.notification .main_admin .admin_img .amin_1 .amin_img_1 {
    width: 79%;
    position: relative;
    top: 100px;
}
.amin_img_2_2 {
    width: 70% !important;
}  



.index_head .title_web .managed_care_title {
    letter-spacing: 0px;
    color: #363A57;
    opacity: 1;
    font-size: 40px;
    font-family: "fontGraphikSemibold";
} 
.index_head .title_web .Title_details {
    text-align: left;
    margin-top: 20px;
    letter-spacing: 0px;
    color: #595959;
    opacity: 1;
    font-family: "fontLatoRegular";
    line-height: 2.1;
    font-weight: 400;
    font-size: 16px;
}
.healthcare {
    font-family: "fontLatoRegular";
    letter-spacing: 0px;
    color: #F27D35;
    opacity: 1;
    font-size: 16px;
    font-weight: 400;
}
.index_head_1 .title_web .managed_care_title {
    letter-spacing: 0px;
    color: #363A57;
    opacity: 1;
    font-size: 40px;
    font-family: "fontGraphikSemibold";
}
.index_head_1 .title_web .Title_details_1 {
    text-align: left;
    margin-top: 10px;
    letter-spacing: 0px;
    color: #595959;
    opacity: 1;
    font-family: "fontLatoRegular";
    font-weight: 400;
    font-size: 16px;
    line-height: 2.1;
}
.administration .Title_details_1 {
    text-align: left;
    letter-spacing: 0px;
    color: #595959;
    opacity: 1;
    font-family: "fontLatoRegular";
    font-weight: 400;
    font-size: 16px;
    line-height: 2.1;
}
.notification .Title_details_1 {
    text-align: left;
    margin-top: 20px;
    letter-spacing: 0px;
    color: #595959;
    opacity: 1;
    font-family: "fontLatoRegular";
    font-weight: 400;
    font-size: 16px;
    line-height: 2.1;
}
.index_head_5 .title_web .managed_care_title {
    letter-spacing: 0px;
    color: #363A57;
    opacity: 1;
    font-size: 40px;
    font-family: "fontGraphikSemibold";
}
    .index_head_5 .title_web .Title_details_1 {
        text-align: left;
        margin-top: 30px;
        letter-spacing: 0px;
        color: #595959;
        opacity: 1;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 16px;
        line-height: 2.1;
    } 
}
@media only screen and (max-width: 1441px) {

    .amin_img_2_2 {
        width: 60% !important;
    } 
    .index_head .title_web .Title_details {
        text-align: left;
        margin-top: 20px;
        letter-spacing: 0px;
        color: #595959;
        opacity: 1;
        font-family: "fontLatoRegular";
        line-height: 2.1;
        font-weight: 400;
        font-size: 18px;
    }
    .index_head_1 .title_web .Title_details_1 {
        text-align: left;
        margin-top: 30px;
        letter-spacing: 0px;
        color: #595959;
        opacity: 1;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 18px;
        line-height: 2.1;
    }
    .administration .Title_details_1 {
        text-align: left;
        letter-spacing: 0px;
        color: #595959;
        opacity: 1;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 18px;
        line-height: 2.1;
    }
    .notification .Title_details_1 {
        text-align: left;
        margin-top: 20px;
        letter-spacing: 0px;
        color: #595959;
        opacity: 1;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 18px;
        line-height: 2.1;
    }
    .index_head_5 .title_web .Title_details_1 {
        text-align: left;
        margin-top: 30px;
        letter-spacing: 0px;
        color: #595959;
        opacity: 1;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 18px;
        line-height: 2.1;
    }
}
@media only screen and (max-width: 376px) {
    
    .administration .main_admin .admin_img {
        padding-top: 41px !important;
        background: url("/images/Ellipse 258.svg");
        background-repeat: no-repeat;
        background-position: 42% 10%;
        height: 477px !important;
        background-size: 371px !important;
    }
 
}
@media only screen and (max-width: 325px) {

    .managed_care_title_1
    {
        font-size: 23px;
    }
    .index_head .title_web .managed_care_title {
        letter-spacing: 0px;
        color: #363A57;
        opacity: 1;
        font-size: 30px;
        font-family: "fontGraphikSemibold";
    }
    .index_head .title_web .Title_details {
        text-align: left;
        margin-top: 20px;
        letter-spacing: 0px;
        color: #595959;
        opacity: 1;
        font-family: "fontLatoRegular";
        line-height: 2.1;
        font-weight: 400;
        font-size: 17px;
    }
    .index_head_1 .title_web .managed_care_title {
        letter-spacing: 0px;
        color: #363A57;
        opacity: 1;
        font-size: 30px;
        font-family: "fontGraphikSemibold";
    }
    .index_head_1 .title_web .Title_details_1 {
        text-align: left;
        margin-top: 7px;
        letter-spacing: 0px;
        color: #595959;
        opacity: 1;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 17px;
        line-height: 2.1;
    }
    .manage_availablity .img_availability {
        width: 100%;
        position: relative;
        bottom: 76px !important;
    }
    .manage_availablity {
        background-color: #F27D350D;
        margin-top: 100px !important;
        height: 148px !important;
    }
    .ser
    {
        margin-top:30px !important
    }
    .img_onboard_4
    {
        bottom:100px !important;
    }
    .administration .main_admin .admin_img {
        padding-top: 41px !important;
        background: url('/images/Ellipse 258.svg');
        background-repeat: no-repeat;
        background-position: 44% 10%;
        height: 377px !important;
        background-size: 308px !important;
    }
    .administration .main_admin {
        padding-top: 0px;
    }
    .img_onboard_1_1 {
        width: 70% !important;
    }
    .notification {
        margin-top: 41px !important;
        background: url('/images/Ellipse 258.svg');
        background-repeat: no-repeat;
        background-position: 44% 70% !important;
        height: 777px !important;
        background-size: 308px !important;
    }
    .notification .Title_details_1 {
        text-align: left;
        margin-top: 20px;
        letter-spacing: 0px;
        color: #595959;
        opacity: 1;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 17px;
        line-height: 2.1;
    }
    .index_head_5 .title_web .Title_details_1 {
        text-align: left;
        margin-top: 30px;
        letter-spacing: 0px;
        color: #595959;
        opacity: 1;
        font-family: "fontLatoRegular";
        font-weight: 400;
        font-size: 17px;
        line-height: 2.1;
    }
}

