header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.team_img {
  width: 100%;
  position: relative;
  top: -38vh;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.active_cont {
  display: block !important;
  /* height: 400px !important; */
  opacity: 1 !important;
}

.inactive_cont {
  display: none !important;
  /* height: 0px !important; */
  opacity: 0 !important;
}

.floating_section {
  margin-top: -70px;
  z-index: 1;
  position: relative;
}

.floating_section .floatr_card {
  background-color: #fff;
  -webkit-box-shadow: 0 100px 100px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 100px 100px 0 rgba(0, 0, 0, 0.03);
  padding: 5% 30px;
  text-align: center;
}

.floating_section .floatr_card .banner--des {
  color: #878787;
  padding-top: 16px;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
}

.life_craoyond {
  padding-top: 8%;
}

.life_craoyond .text {
  margin-bottom: 160px;
  text-align: center;
}

.life_craoyond .text .flag span {
  position: absolute;
  color: #fff;
  padding: 4px 0px 0px 16px;
}

.life_craoyond .text .description {
  color: #878787;
  padding-top: 16px;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
}

.life_craoyond .row {
  background-color: #f4f9f9;
  padding-bottom: 8%;
}

.life_craoyond .row .container {
  margin-top: -110px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.life_craoyond .row .culture:hover {
  -webkit-box-shadow: 0 34px 24px 0 rgba(26, 26, 175, 0.03);
          box-shadow: 0 34px 24px 0 rgba(26, 26, 175, 0.03);
}

.life_craoyond .row .culture:hover .card_icon {
  background-color: #1EAB8C !important;
}

.life_craoyond .row .culture:hover .card_icon svg path {
  stroke: #fff !important;
}

.life_craoyond .row .learning:hover {
  -webkit-box-shadow: 0 34px 24px 0 rgba(26, 26, 175, 0.03);
          box-shadow: 0 34px 24px 0 rgba(26, 26, 175, 0.03);
}

.life_craoyond .row .learning:hover .card_icon {
  background-color: #334ac0 !important;
}

.life_craoyond .row .learning:hover .card_icon .active {
  display: unset !important;
}

.life_craoyond .row .learning:hover .card_icon .in_active {
  display: none;
}

.life_craoyond .row .leadership:hover {
  -webkit-box-shadow: 0 34px 24px 0 rgba(26, 26, 175, 0.03);
          box-shadow: 0 34px 24px 0 rgba(26, 26, 175, 0.03);
}

.life_craoyond .row .leadership:hover .card_icon {
  background-color: #f3a530 !important;
}

.life_craoyond .row .leadership:hover .card_icon svg g {
  fill: #fff !important;
}

.life_craoyond .row .ambience:hover {
  -webkit-box-shadow: 0 34px 24px 0 rgba(26, 26, 175, 0.03);
          box-shadow: 0 34px 24px 0 rgba(26, 26, 175, 0.03);
}

.life_craoyond .row .ambience:hover .card_icon {
  background-color: #e42d44 !important;
}

.life_craoyond .row .ambience:hover .card_icon .active {
  display: unset !important;
}

.life_craoyond .row .ambience:hover .card_icon .in_active {
  display: none;
}

.life_craoyond .row .freedom:hover {
  -webkit-box-shadow: 0 34px 24px 0 rgba(26, 26, 175, 0.03);
          box-shadow: 0 34px 24px 0 rgba(26, 26, 175, 0.03);
}

.life_craoyond .row .freedom:hover .card_icon {
  background-color: #000 !important;
}

.life_craoyond .row .freedom:hover .card_icon .active {
  display: unset !important;
}

.life_craoyond .row .freedom:hover .card_icon .in_active {
  display: none;
}

.life_craoyond .row .Rectangle_card_body {
  width: 226px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  text-align: center;
  border: solid 1px #f1f1f9;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.life_craoyond .row .Rectangle_card_body .cont {
  margin: auto;
}

.life_craoyond .row .Rectangle_card_body .cont .card_icon {
  border-radius: 50%;
  width: 109px;
  height: 109px;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.life_craoyond .row .Rectangle_card_body .cont .card_icon img {
  margin: auto;
}

.life_craoyond .row .Rectangle_card_body .cont .card_icon svg {
  margin: auto;
}

.life_craoyond .row .Rectangle_card_body .cont .card-text {
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.look_ambience {
  padding-top: 8%;
  padding-bottom: 8%;
}

.look_ambience .text {
  text-align: center;
  margin-bottom: 5%;
}

.look_ambience .image_div {
  padding: 7px;
}

.look_ambience .image_div img {
  height: 100%;
  width: 100%;
}

.opportunities_section {
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: #fafafa;
}

.opportunities_section .text {
  text-align: center;
}

.opportunities_section .text h1 {
  margin-bottom: 16px;
}

.opportunities_section .text .banner--des {
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #e90101;
  margin-bottom: 46px;
}

.opportunities_section .data_row {
  border-radius: 15px;
  border: solid 1px #e6e5e5;
  background-color: #ffffff;
  padding: 46px 46px 0px 46px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.opportunities_section .data_row .list {
  padding: 14px 0px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33%, #e6e5e5), color-stop(0%, rgba(17, 7, 7, 0)));
  background-image: linear-gradient(to right, #e6e5e5 33%, rgba(17, 7, 7, 0) 0%);
  background-position: bottom;
  background-size: 15px 1.6px;
  background-repeat: repeat-x;
}

.opportunities_section .data_row .list button {
  border-radius: 6px;
  border: solid 1px #dddddd;
  padding: 12px 30px;
  background-color: transparent;
  cursor: pointer;
  margin: auto;
  margin-right: 0;
}

.opportunities_section .data_row .list button:hover {
  border: solid 1px #6455c2;
  background-color: #6455c2;
  color: #fff;
}

.opportunities_section .data_row .list h4 {
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
}

.opportunities_section .data_row .list p {
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #878787;
}

.opportunities_section .data_row .hiden_section_open_list {
  overflow: hidden;
  height: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.opportunities_section .read_more_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  border: solid 1px #e6e5e5;
  background-color: #fff;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.opportunities_section .read_more_list p {
  cursor: pointer;
  margin: auto;
  color: #675cd7;
}

.opportunities_section .read_more_list .show_close_jop_offers {
  display: none;
}
/*# sourceMappingURL=opportunities.css.map */