.time_line_his {
  overflow: hidden;
  background-color: #353a54;
  padding-top: 6%;
  padding-bottom: 6%;
  min-height: 100vh;
}

.time_line_his .text {
  text-align: center;
}

.time_line_his .text h1 {
  color: #fff;
  font-size: 42px;
  margin: 0;
}

.time_line_his .horizontal_time_line {
  background-color: #353a54;
  display: inline-table;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 3000px;
  border-bottom: 2px dashed #fff;
}

.time_line_his .horizontal_time_line .time_line_year {
  position: relative;
  margin: 100px 0px 0 0px;
  min-height: 302px;
  padding-left: 100px;
}

.time_line_his .horizontal_time_line .time_line_year ul {
  margin-bottom: 0;
  border-left: 2px dashed #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
  margin-right: 30px;
  min-height: 400px;
}

.time_line_his .horizontal_time_line .time_line_year ul:before {
  content: "";
  background: -webkit-gradient(linear, left top, right bottom, from(#d9b400), color-stop(50%, #d9b400), color-stop(50%, #a48d0100), to(#a48d0100));
  background: linear-gradient(to bottom right, #d9b400 0%, #d9b400 50%, #a48d0100 50%, #a48d0100 100%);
  width: 22px;
  height: 21px;
  position: absolute;
  left: 100px;
}

.time_line_his .horizontal_time_line .time_line_year ul:after {
  content: "";
  background-color: #d9b400;
  width: 40px;
  height: 10px;
  position: absolute;
  bottom: 0px;
  left: 82px;
  border-radius: 20px;
}

.time_line_his .horizontal_time_line .time_line_year ul .year_title {
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  left: 20px;
}

.time_line_his .horizontal_time_line .time_line_year ul .bottom_content {
  min-width: 306px;
  max-width: 306px;
  position: relative;
  top: 72px;
  display: table;
}

.time_line_his .horizontal_time_line .time_line_year ul .bottom_content svg {
  margin-bottom: 12px;
}

.time_line_his .horizontal_time_line .time_line_year ul .bottom_content p {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.06;
  letter-spacing: normal;
  color: #fff;
}

.time_line_his .horizontal_time_line .time_line_year ul .bottom_content h3 {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.time_line_his .horizontal_time_line .time_line_year ul connectLine {
  position: relative;
  left: -40px;
  top: 22px;
  display: table;
}

.time_line_his .horizontal_time_line .time_line_year ul .connect_line_down {
  top: 60px;
  left: -36px;
}

.time_line_his .horizontal_time_line .time_line_year ul .top_content {
  min-width: 306px;
  max-width: 306px;
  position: relative;
  top: 0px;
  left: -36px;
  display: table;
}

.time_line_his .horizontal_time_line .time_line_year ul .top_content svg {
  margin-bottom: 12px;
}

.time_line_his .horizontal_time_line .time_line_year ul .top_content p {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.06;
  letter-spacing: normal;
  color: #fff;
}

.time_line_his .horizontal_time_line .time_line_year ul .top_content h3 {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.time_line_his .menu_year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time_line_his .menu_year .active {
  color: #d9b400 !important;
  font-weight: 600;
}

.time_line_his .menu_year .time_line_year_btn {
  color: #878787;
  cursor: pointer;
  padding: 10px 5px;
  margin: auto;
  border-bottom: 1.5px solid transparent;
}

/*
 *  STYLE 1
 */
.horizontal_time_line::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
}

.horizontal_time_line::-webkit-scrollbar {
  width: 1px;
  height: 0px;
  background-color: #F5F5F5;
}

.horizontal_time_line::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: 69px -225.33333px #d500ff, -108px -161.33333px #00ff1a, 183px -51.33333px #ff9900, 178px -220.33333px #ff0033, -124px -205.33333px #ff4000, -194px -303.33333px #3700ff, -4px 36.66667px #3cff00, 9px -86.33333px #00ff59, -161px -330.33333px #ff1a00, 121px -136.33333px #00ff0d, 186px -287.33333px #bbff00, 152px -107.33333px #0400ff, 63px -58.33333px #ff006a, 117px 61.66667px #00ffae, -162px -328.33333px #95ff00, 149px -198.33333px #00ff4d, -158px -192.33333px #e1ff00, -194px 33.66667px #d000ff, 120px -62.33333px #1e00ff, 61px -152.33333px #0900ff, 158px -151.33333px #f700ff, 98px -144.33333px #ff9500, 119px 62.66667px #6f00ff, 184px 8.66667px #ff0080, 8px -221.33333px #ff002f, 62px -217.33333px #d9ff00, 0px -68.33333px #004dff, 7px -18.33333px #ff0015, -32px 29.66667px #5e00ff, 178px -143.33333px #ff006a, -186px -194.33333px #00ff26, 82px -82.33333px #7bff00, 159px -171.33333px #ff00d9, -52px 15.66667px #ffbb00, -177px -253.33333px #0099ff, 167px -304.33333px #ff00d5, -75px -314.33333px #ffd500, 96px -280.33333px #ff4000, 104px -105.33333px #4000ff, -65px -295.33333px #ff5500, -144px 53.66667px #ffdd00, -128px 33.66667px #8c00ff, 55px -108.33333px #ff2600, -102px -84.33333px #ff0d00, 142px -299.33333px #ffd900, 166px -137.33333px #ff009d, 180px 14.66667px #00ff44, 25px -201.33333px #ff00bb, 83px -128.33333px #3cff00, -115px -247.33333px #ff1100, 153px 10.66667px #00b3ff;
            box-shadow: 69px -225.33333px #d500ff, -108px -161.33333px #00ff1a, 183px -51.33333px #ff9900, 178px -220.33333px #ff0033, -124px -205.33333px #ff4000, -194px -303.33333px #3700ff, -4px 36.66667px #3cff00, 9px -86.33333px #00ff59, -161px -330.33333px #ff1a00, 121px -136.33333px #00ff0d, 186px -287.33333px #bbff00, 152px -107.33333px #0400ff, 63px -58.33333px #ff006a, 117px 61.66667px #00ffae, -162px -328.33333px #95ff00, 149px -198.33333px #00ff4d, -158px -192.33333px #e1ff00, -194px 33.66667px #d000ff, 120px -62.33333px #1e00ff, 61px -152.33333px #0900ff, 158px -151.33333px #f700ff, 98px -144.33333px #ff9500, 119px 62.66667px #6f00ff, 184px 8.66667px #ff0080, 8px -221.33333px #ff002f, 62px -217.33333px #d9ff00, 0px -68.33333px #004dff, 7px -18.33333px #ff0015, -32px 29.66667px #5e00ff, 178px -143.33333px #ff006a, -186px -194.33333px #00ff26, 82px -82.33333px #7bff00, 159px -171.33333px #ff00d9, -52px 15.66667px #ffbb00, -177px -253.33333px #0099ff, 167px -304.33333px #ff00d5, -75px -314.33333px #ffd500, 96px -280.33333px #ff4000, 104px -105.33333px #4000ff, -65px -295.33333px #ff5500, -144px 53.66667px #ffdd00, -128px 33.66667px #8c00ff, 55px -108.33333px #ff2600, -102px -84.33333px #ff0d00, 142px -299.33333px #ffd900, 166px -137.33333px #ff009d, 180px 14.66667px #00ff44, 25px -201.33333px #ff00bb, 83px -128.33333px #3cff00, -115px -247.33333px #ff1100, 153px 10.66667px #00b3ff;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: 69px -225.33333px #d500ff, -108px -161.33333px #00ff1a, 183px -51.33333px #ff9900, 178px -220.33333px #ff0033, -124px -205.33333px #ff4000, -194px -303.33333px #3700ff, -4px 36.66667px #3cff00, 9px -86.33333px #00ff59, -161px -330.33333px #ff1a00, 121px -136.33333px #00ff0d, 186px -287.33333px #bbff00, 152px -107.33333px #0400ff, 63px -58.33333px #ff006a, 117px 61.66667px #00ffae, -162px -328.33333px #95ff00, 149px -198.33333px #00ff4d, -158px -192.33333px #e1ff00, -194px 33.66667px #d000ff, 120px -62.33333px #1e00ff, 61px -152.33333px #0900ff, 158px -151.33333px #f700ff, 98px -144.33333px #ff9500, 119px 62.66667px #6f00ff, 184px 8.66667px #ff0080, 8px -221.33333px #ff002f, 62px -217.33333px #d9ff00, 0px -68.33333px #004dff, 7px -18.33333px #ff0015, -32px 29.66667px #5e00ff, 178px -143.33333px #ff006a, -186px -194.33333px #00ff26, 82px -82.33333px #7bff00, 159px -171.33333px #ff00d9, -52px 15.66667px #ffbb00, -177px -253.33333px #0099ff, 167px -304.33333px #ff00d5, -75px -314.33333px #ffd500, 96px -280.33333px #ff4000, 104px -105.33333px #4000ff, -65px -295.33333px #ff5500, -144px 53.66667px #ffdd00, -128px 33.66667px #8c00ff, 55px -108.33333px #ff2600, -102px -84.33333px #ff0d00, 142px -299.33333px #ffd900, 166px -137.33333px #ff009d, 180px 14.66667px #00ff44, 25px -201.33333px #ff00bb, 83px -128.33333px #3cff00, -115px -247.33333px #ff1100, 153px 10.66667px #00b3ff;
            box-shadow: 69px -225.33333px #d500ff, -108px -161.33333px #00ff1a, 183px -51.33333px #ff9900, 178px -220.33333px #ff0033, -124px -205.33333px #ff4000, -194px -303.33333px #3700ff, -4px 36.66667px #3cff00, 9px -86.33333px #00ff59, -161px -330.33333px #ff1a00, 121px -136.33333px #00ff0d, 186px -287.33333px #bbff00, 152px -107.33333px #0400ff, 63px -58.33333px #ff006a, 117px 61.66667px #00ffae, -162px -328.33333px #95ff00, 149px -198.33333px #00ff4d, -158px -192.33333px #e1ff00, -194px 33.66667px #d000ff, 120px -62.33333px #1e00ff, 61px -152.33333px #0900ff, 158px -151.33333px #f700ff, 98px -144.33333px #ff9500, 119px 62.66667px #6f00ff, 184px 8.66667px #ff0080, 8px -221.33333px #ff002f, 62px -217.33333px #d9ff00, 0px -68.33333px #004dff, 7px -18.33333px #ff0015, -32px 29.66667px #5e00ff, 178px -143.33333px #ff006a, -186px -194.33333px #00ff26, 82px -82.33333px #7bff00, 159px -171.33333px #ff00d9, -52px 15.66667px #ffbb00, -177px -253.33333px #0099ff, 167px -304.33333px #ff00d5, -75px -314.33333px #ffd500, 96px -280.33333px #ff4000, 104px -105.33333px #4000ff, -65px -295.33333px #ff5500, -144px 53.66667px #ffdd00, -128px 33.66667px #8c00ff, 55px -108.33333px #ff2600, -102px -84.33333px #ff0d00, 142px -299.33333px #ffd900, 166px -137.33333px #ff009d, 180px 14.66667px #00ff44, 25px -201.33333px #ff00bb, 83px -128.33333px #3cff00, -115px -247.33333px #ff1100, 153px 10.66667px #00b3ff;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 0%;
    margin-left: 0%;
  }
  20%, 39.9% {
    margin-top: 4%;
    margin-left: 0%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 0%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 0%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 0%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 0%;
    margin-left: 0%;
  }
  20%, 39.9% {
    margin-top: 4%;
    margin-left: 0%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 0%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 0%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 768px) {
  .time_line_his .horizontal_time_line {
    width: auto;
  }
  .time_line_his .horizontal_time_line .time_line_year {
    margin: 60px 0px 0 0px;
  }
}

@media only screen and (max-width: 767px) {
  .time_line_his .text h1 {
    font-size: 2.1rem;
  }
  .time_line_his .horizontal_time_line {
    width: auto;
  }
  .time_line_his .horizontal_time_line .time_line_year {
    padding-left: 20px;
    margin: 60px 0px 0 0px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul {
    padding-left: 50px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul .year_title {
    top: -38px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul:before {
    left: 20px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul:after {
    left: 1px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul .bottom_content {
    min-width: 260px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul .top_content {
    min-width: 260px;
  }
}

@media only screen and (max-width: 321px) {
  .time_line_his .horizontal_time_line {
    width: auto;
  }
  .time_line_his .horizontal_time_line .time_line_year {
    margin: 60px 0px 0 0px;
  }
}
/*# sourceMappingURL=who_we_are.css.map */