.time_line_his {
  overflow: hidden;
  background-color: #353a54;
  padding-top: 6%;
  padding-bottom: 6%;
}

.time_line_his .text {
  text-align: center;
}

.time_line_his .text h1 {
  color: #fff;
  font-size: 42px;
  margin: 0;
}

.time_line_his .left_arrow {
  margin-left: -100px;
  width: 100px;
  -webkit-transition: margin 0.9s;
  transition: margin 0.9s;
  position: absolute;
  height: 100%;
  left: 0;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(#343954));
  background-image: linear-gradient(-90deg, transparent, #343954);
}

.time_line_his .left_arrow svg {
  fill: #fff;
  width: 60px;
  margin: auto;
  opacity: 0.8;
}

.time_line_his .right_arrow {
  width: 100px;
  margin-right: -100px;
  cursor: pointer;
  -webkit-transition: margin 0.9s;
  transition: margin 0.9s;
  background-image: -webkit-gradient(linear, right top, left top, from(#343954), to(transparent));
  background-image: linear-gradient(-90deg, #343954, transparent);
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time_line_his .right_arrow svg {
  fill: #fff;
  width: 60px;
  margin: auto;
  opacity: 0.8;
}

.time_line_his .horizontal_time_line {
  background-color: #353a54;
  display: inline-table;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 3000px;
  border-bottom: 2px dashed #fff;
}

.time_line_his .horizontal_time_line .time_line_year {
  position: relative;
  margin: 100px 0px 0 0px;
  min-height: 302px;
  padding-left: 100px;
}

.time_line_his .horizontal_time_line .time_line_year ul {
  margin-bottom: 0;
  border-left: 2px dashed #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
  margin-right: 30px;
  min-height: 430px;
}

.time_line_his .horizontal_time_line .time_line_year ul:before {
  content: "";
  background: -webkit-gradient(linear, left top, right bottom, from(#d9b400), color-stop(50%, #d9b400), color-stop(50%, #a48d0100), to(#a48d0100));
  background: linear-gradient(to bottom right, #d9b400 0%, #d9b400 50%, #a48d0100 50%, #a48d0100 100%);
  width: 22px;
  height: 21px;
  position: absolute;
  left: 100px;
}

.time_line_his .horizontal_time_line .time_line_year ul:after {
  content: "";
  background-color: #d9b400;
  width: 40px;
  height: 10px;
  position: absolute;
  bottom: 0px;
  left: 82px;
  border-radius: 20px;
}

.time_line_his .horizontal_time_line .time_line_year ul .year_title {
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  left: 20px;
}

.time_line_his .horizontal_time_line .time_line_year ul .bottom_content {
  min-width: 306px;
  max-width: 306px;
  position: relative;
  top: 72px;
  display: table;
}

.time_line_his .horizontal_time_line .time_line_year ul .bottom_content svg {
  margin-bottom: 12px;
}

.time_line_his .horizontal_time_line .time_line_year ul .bottom_content p {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.06;
  letter-spacing: normal;
  color: #fff;
}

.time_line_his .horizontal_time_line .time_line_year ul .bottom_content h3 {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.time_line_his .horizontal_time_line .time_line_year ul connectLine {
  position: relative;
  left: -40px;
  top: 22px;
  display: table;
}

.time_line_his .horizontal_time_line .time_line_year ul .connect_line_down {
  top: 60px;
  left: -36px;
}

.time_line_his .horizontal_time_line .time_line_year ul .top_content {
  min-width: 306px;
  max-width: 306px;
  position: relative;
  top: 0px;
  left: -36px;
  display: table;
}

.time_line_his .horizontal_time_line .time_line_year ul .top_content svg {
  margin-bottom: 12px;
}

.time_line_his .horizontal_time_line .time_line_year ul .top_content p {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.06;
  letter-spacing: normal;
  color: #fff;
}

.time_line_his .horizontal_time_line .time_line_year ul .top_content h3 {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.time_line_his .menu_year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time_line_his .menu_year .active {
  color: #d9b400 !important;
  font-weight: 600;
}

.time_line_his .menu_year .time_line_year_btn {
  color: #878787;
  cursor: pointer;
  padding: 10px 5px;
  margin: auto;
  border-bottom: 1.5px solid transparent;
}

/*
 *  STYLE 1
 */
.horizontal_time_line::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
}

.horizontal_time_line::-webkit-scrollbar {
  width: 1px;
  height: 0px;
  background-color: #F5F5F5;
}

.horizontal_time_line::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: 69px -164.33333px #ff6f00, 149px 12.66667px #1a00ff, 0px 42.66667px #ff1a00, -121px -269.33333px #4dff00, -181px -19.33333px #ff0091, 57px -173.33333px #dd00ff, -24px -77.33333px #ff00fb, 200px -16.33333px #ff8800, -65px -13.33333px #2200ff, 20px -255.33333px #ff0080, -96px -274.33333px #00ffd0, -173px -45.33333px #f7ff00, 4px -300.33333px #95ff00, -82px -63.33333px #ff6a00, 73px -33.33333px #4800ff, 144px -273.33333px #00ffa6, 56px -94.33333px #00ffd5, -6px -305.33333px #b300ff, 142px -9.33333px #44ff00, 112px 61.66667px #ff00dd, 16px -240.33333px #c4ff00, -107px -120.33333px #ff9100, -182px -225.33333px #ff4000, 197px -127.33333px #9100ff, 140px -75.33333px #00ff66, -59px -79.33333px #00ff2f, 169px -88.33333px #1aff00, -64px -266.33333px #ff00d0, 128px -8.33333px #b300ff, 144px -196.33333px #007bff, 170px -66.33333px #5900ff, 129px -57.33333px #1e00ff, 86px -13.33333px #00ff99, 190px -188.33333px #ff008c, -46px 8.66667px #00bbff, 65px 39.66667px #ff2600, 96px 0.66667px #15ff00, -116px 21.66667px #ff0062, -85px -106.33333px #4dff00, 196px -305.33333px #99ff00, 185px -284.33333px #ff004d, 66px -210.33333px #ffa600, -42px 41.66667px #00ff26, 128px -240.33333px #ee00ff, -126px -83.33333px #ff7b00, 50px -240.33333px #ff003c, 67px -121.33333px #ff00ea, 49px -65.33333px #ff00cc, -1px -10.33333px #ff00ee, 109px -27.33333px #bf00ff, 91px -247.33333px #0073ff;
            box-shadow: 69px -164.33333px #ff6f00, 149px 12.66667px #1a00ff, 0px 42.66667px #ff1a00, -121px -269.33333px #4dff00, -181px -19.33333px #ff0091, 57px -173.33333px #dd00ff, -24px -77.33333px #ff00fb, 200px -16.33333px #ff8800, -65px -13.33333px #2200ff, 20px -255.33333px #ff0080, -96px -274.33333px #00ffd0, -173px -45.33333px #f7ff00, 4px -300.33333px #95ff00, -82px -63.33333px #ff6a00, 73px -33.33333px #4800ff, 144px -273.33333px #00ffa6, 56px -94.33333px #00ffd5, -6px -305.33333px #b300ff, 142px -9.33333px #44ff00, 112px 61.66667px #ff00dd, 16px -240.33333px #c4ff00, -107px -120.33333px #ff9100, -182px -225.33333px #ff4000, 197px -127.33333px #9100ff, 140px -75.33333px #00ff66, -59px -79.33333px #00ff2f, 169px -88.33333px #1aff00, -64px -266.33333px #ff00d0, 128px -8.33333px #b300ff, 144px -196.33333px #007bff, 170px -66.33333px #5900ff, 129px -57.33333px #1e00ff, 86px -13.33333px #00ff99, 190px -188.33333px #ff008c, -46px 8.66667px #00bbff, 65px 39.66667px #ff2600, 96px 0.66667px #15ff00, -116px 21.66667px #ff0062, -85px -106.33333px #4dff00, 196px -305.33333px #99ff00, 185px -284.33333px #ff004d, 66px -210.33333px #ffa600, -42px 41.66667px #00ff26, 128px -240.33333px #ee00ff, -126px -83.33333px #ff7b00, 50px -240.33333px #ff003c, 67px -121.33333px #ff00ea, 49px -65.33333px #ff00cc, -1px -10.33333px #ff00ee, 109px -27.33333px #bf00ff, 91px -247.33333px #0073ff;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: 69px -164.33333px #ff6f00, 149px 12.66667px #1a00ff, 0px 42.66667px #ff1a00, -121px -269.33333px #4dff00, -181px -19.33333px #ff0091, 57px -173.33333px #dd00ff, -24px -77.33333px #ff00fb, 200px -16.33333px #ff8800, -65px -13.33333px #2200ff, 20px -255.33333px #ff0080, -96px -274.33333px #00ffd0, -173px -45.33333px #f7ff00, 4px -300.33333px #95ff00, -82px -63.33333px #ff6a00, 73px -33.33333px #4800ff, 144px -273.33333px #00ffa6, 56px -94.33333px #00ffd5, -6px -305.33333px #b300ff, 142px -9.33333px #44ff00, 112px 61.66667px #ff00dd, 16px -240.33333px #c4ff00, -107px -120.33333px #ff9100, -182px -225.33333px #ff4000, 197px -127.33333px #9100ff, 140px -75.33333px #00ff66, -59px -79.33333px #00ff2f, 169px -88.33333px #1aff00, -64px -266.33333px #ff00d0, 128px -8.33333px #b300ff, 144px -196.33333px #007bff, 170px -66.33333px #5900ff, 129px -57.33333px #1e00ff, 86px -13.33333px #00ff99, 190px -188.33333px #ff008c, -46px 8.66667px #00bbff, 65px 39.66667px #ff2600, 96px 0.66667px #15ff00, -116px 21.66667px #ff0062, -85px -106.33333px #4dff00, 196px -305.33333px #99ff00, 185px -284.33333px #ff004d, 66px -210.33333px #ffa600, -42px 41.66667px #00ff26, 128px -240.33333px #ee00ff, -126px -83.33333px #ff7b00, 50px -240.33333px #ff003c, 67px -121.33333px #ff00ea, 49px -65.33333px #ff00cc, -1px -10.33333px #ff00ee, 109px -27.33333px #bf00ff, 91px -247.33333px #0073ff;
            box-shadow: 69px -164.33333px #ff6f00, 149px 12.66667px #1a00ff, 0px 42.66667px #ff1a00, -121px -269.33333px #4dff00, -181px -19.33333px #ff0091, 57px -173.33333px #dd00ff, -24px -77.33333px #ff00fb, 200px -16.33333px #ff8800, -65px -13.33333px #2200ff, 20px -255.33333px #ff0080, -96px -274.33333px #00ffd0, -173px -45.33333px #f7ff00, 4px -300.33333px #95ff00, -82px -63.33333px #ff6a00, 73px -33.33333px #4800ff, 144px -273.33333px #00ffa6, 56px -94.33333px #00ffd5, -6px -305.33333px #b300ff, 142px -9.33333px #44ff00, 112px 61.66667px #ff00dd, 16px -240.33333px #c4ff00, -107px -120.33333px #ff9100, -182px -225.33333px #ff4000, 197px -127.33333px #9100ff, 140px -75.33333px #00ff66, -59px -79.33333px #00ff2f, 169px -88.33333px #1aff00, -64px -266.33333px #ff00d0, 128px -8.33333px #b300ff, 144px -196.33333px #007bff, 170px -66.33333px #5900ff, 129px -57.33333px #1e00ff, 86px -13.33333px #00ff99, 190px -188.33333px #ff008c, -46px 8.66667px #00bbff, 65px 39.66667px #ff2600, 96px 0.66667px #15ff00, -116px 21.66667px #ff0062, -85px -106.33333px #4dff00, 196px -305.33333px #99ff00, 185px -284.33333px #ff004d, 66px -210.33333px #ffa600, -42px 41.66667px #00ff26, 128px -240.33333px #ee00ff, -126px -83.33333px #ff7b00, 50px -240.33333px #ff003c, 67px -121.33333px #ff00ea, 49px -65.33333px #ff00cc, -1px -10.33333px #ff00ee, 109px -27.33333px #bf00ff, 91px -247.33333px #0073ff;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 0%;
    margin-left: 0%;
  }
  20%, 39.9% {
    margin-top: 4%;
    margin-left: 0%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 0%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 0%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 0%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 0%;
    margin-left: 0%;
  }
  20%, 39.9% {
    margin-top: 4%;
    margin-left: 0%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 0%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 0%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 768px) {
  .time_line_his .left_arrow {
    display: none !important;
  }
  .time_line_his .right_arrow {
    display: none !important;
  }
  .time_line_his .horizontal_time_line {
    width: auto;
  }
  .time_line_his .horizontal_time_line .time_line_year {
    margin: 60px 0px 0 0px;
  }
}

@media only screen and (max-width: 767px) {
  .time_line_his .text h1 {
    font-size: 2.1rem;
  }
  .time_line_his .left_arrow {
    display: none !important;
  }
  .time_line_his .right_arrow {
    display: none !important;
  }
  .time_line_his .horizontal_time_line {
    width: auto;
  }
  .time_line_his .horizontal_time_line .time_line_year {
    padding-left: 20px;
    margin: 60px 0px 0 0px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul {
    min-height: 450px;
    padding-left: 50px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul .year_title {
    top: -38px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul:before {
    left: 20px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul:after {
    left: 1px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul .bottom_content {
    min-width: 260px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul .top_content {
    min-width: 260px;
  }
}

@media only screen and (max-width: 321px) {
  .time_line_his .left_arrow {
    display: none !important;
  }
  .time_line_his .right_arrow {
    display: none !important;
  }
  .time_line_his .horizontal_time_line {
    width: auto;
  }
  .time_line_his .horizontal_time_line .time_line_year {
    margin: 60px 0px 0 0px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul {
    min-height: 450px;
  }
}
/*# sourceMappingURL=who_we_are.css.map */