.time_line_his {
  overflow: hidden;
  background-color: #353a54;
  padding-top: 6%;
  padding-bottom: 6%;
}

.time_line_his .text {
  text-align: center;
}

.time_line_his .text h1 {
  color: #fff;
  font-size: 42px;
  margin: 0;
}

.time_line_his .left_arrow {
  margin-left: -100px;
  width: 100px;
  -webkit-transition: margin 0.9s;
  transition: margin 0.9s;
  position: absolute;
  height: 100%;
  left: 0;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(#343954));
  background-image: linear-gradient(-90deg, transparent, #343954);
}

.time_line_his .left_arrow svg {
  fill: #fff;
  width: 60px;
  margin: auto;
  opacity: 0.8;
}

.time_line_his .right_arrow {
  width: 100px;
  margin-right: -100px;
  cursor: pointer;
  -webkit-transition: margin 0.9s;
  transition: margin 0.9s;
  background-image: -webkit-gradient(linear, right top, left top, from(#343954), to(transparent));
  background-image: linear-gradient(-90deg, #343954, transparent);
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time_line_his .right_arrow svg {
  fill: #fff;
  width: 60px;
  margin: auto;
  opacity: 0.8;
}

.time_line_his .horizontal_time_line {
  background-color: #353a54;
  display: inline-table;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 3000px;
  border-bottom: 2px dashed #fff;
}

.time_line_his .horizontal_time_line .time_line_year {
  position: relative;
  margin: 100px 0px 0 0px;
  min-height: 302px;
  padding-left: 100px;
}

.time_line_his .horizontal_time_line .time_line_year ul {
  margin-bottom: 0;
  border-left: 2px dashed #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
  margin-right: 30px;
  min-height: 430px;
}

.time_line_his .horizontal_time_line .time_line_year ul:before {
  content: "";
  background: -webkit-gradient(linear, left top, right bottom, from(#d9b400), color-stop(50%, #d9b400), color-stop(50%, #a48d0100), to(#a48d0100));
  background: linear-gradient(to bottom right, #d9b400 0%, #d9b400 50%, #a48d0100 50%, #a48d0100 100%);
  width: 22px;
  height: 21px;
  position: absolute;
  left: 100px;
}

.time_line_his .horizontal_time_line .time_line_year ul:after {
  content: "";
  background-color: #d9b400;
  width: 40px;
  height: 10px;
  position: absolute;
  bottom: 0px;
  left: 82px;
  border-radius: 20px;
}

.time_line_his .horizontal_time_line .time_line_year ul .year_title {
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  left: 20px;
}

.time_line_his .horizontal_time_line .time_line_year ul .bottom_content {
  min-width: 306px;
  max-width: 306px;
  position: relative;
  top: 72px;
  display: table;
}

.time_line_his .horizontal_time_line .time_line_year ul .bottom_content svg {
  margin-bottom: 12px;
}

.time_line_his .horizontal_time_line .time_line_year ul .bottom_content p {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.06;
  letter-spacing: normal;
  color: #fff;
}

.time_line_his .horizontal_time_line .time_line_year ul .bottom_content h3 {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.time_line_his .horizontal_time_line .time_line_year ul connectLine {
  position: relative;
  left: -40px;
  top: 22px;
  display: table;
}

.time_line_his .horizontal_time_line .time_line_year ul .connect_line_down {
  top: 60px;
  left: -36px;
}

.time_line_his .horizontal_time_line .time_line_year ul .top_content {
  min-width: 306px;
  max-width: 306px;
  position: relative;
  top: 0px;
  left: -36px;
  display: table;
}

.time_line_his .horizontal_time_line .time_line_year ul .top_content svg {
  margin-bottom: 12px;
}

.time_line_his .horizontal_time_line .time_line_year ul .top_content p {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.06;
  letter-spacing: normal;
  color: #fff;
}

.time_line_his .horizontal_time_line .time_line_year ul .top_content h3 {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.time_line_his .menu_year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time_line_his .menu_year .active {
  color: #d9b400 !important;
  font-weight: 600;
}

.time_line_his .menu_year .time_line_year_btn {
  color: #878787;
  cursor: pointer;
  padding: 10px 5px;
  margin: auto;
  border-bottom: 1.5px solid transparent;
}

/*
 *  STYLE 1
 */
.horizontal_time_line::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
}

.horizontal_time_line::-webkit-scrollbar {
  width: 1px;
  height: 0px;
  background-color: #F5F5F5;
}

.horizontal_time_line::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: 18px -303.33333px #ff0077, -145px -242.33333px #aeff00, -9px -141.33333px #ff001e, 111px -319.33333px #ff002b, 47px -219.33333px #3700ff, 99px -76.33333px #ffa600, -157px -212.33333px #ff0062, 111px -274.33333px #a2ff00, -11px 36.66667px #00ffd9, 144px 48.66667px #ffcc00, -124px -211.33333px #44ff00, -102px -181.33333px #d000ff, 133px -218.33333px #11ff00, 152px -304.33333px #ff2b00, 191px 53.66667px #a2ff00, 153px -5.33333px #ff00a6, 112px -69.33333px #fb00ff, 4px -331.33333px #ff8000, -124px -62.33333px #ff00b7, -179px 21.66667px #ffea00, -41px -112.33333px #9d00ff, 4px -232.33333px #002fff, -105px -145.33333px #00ff66, -82px 8.66667px #ff0033, -188px -258.33333px #ff0099, -47px -228.33333px #ff00a2, 126px -276.33333px #00ff37, 27px -157.33333px #1e00ff, -169px -78.33333px #00ffea, 19px -178.33333px #5900ff, -34px -236.33333px #ff6200, 122px -80.33333px yellow, -35px -297.33333px #2600ff, 89px 21.66667px #ff0033, -62px -294.33333px #ae00ff, 110px -24.33333px #008cff, 55px -94.33333px #a200ff, 14px -156.33333px #eeff00, -51px -301.33333px #5100ff, -45px 53.66667px #ff00d5, 171px -166.33333px #ff1100, 119px -206.33333px #ff8400, -152px -88.33333px #ff0073, 190px -307.33333px #5e00ff, -69px -257.33333px #0077ff, 44px -89.33333px #ff0037, -43px -60.33333px #ff3c00, 189px -204.33333px #ff003c, 32px -181.33333px #3c00ff, 10px -255.33333px #ff0044, -61px -227.33333px #ff2b00;
            box-shadow: 18px -303.33333px #ff0077, -145px -242.33333px #aeff00, -9px -141.33333px #ff001e, 111px -319.33333px #ff002b, 47px -219.33333px #3700ff, 99px -76.33333px #ffa600, -157px -212.33333px #ff0062, 111px -274.33333px #a2ff00, -11px 36.66667px #00ffd9, 144px 48.66667px #ffcc00, -124px -211.33333px #44ff00, -102px -181.33333px #d000ff, 133px -218.33333px #11ff00, 152px -304.33333px #ff2b00, 191px 53.66667px #a2ff00, 153px -5.33333px #ff00a6, 112px -69.33333px #fb00ff, 4px -331.33333px #ff8000, -124px -62.33333px #ff00b7, -179px 21.66667px #ffea00, -41px -112.33333px #9d00ff, 4px -232.33333px #002fff, -105px -145.33333px #00ff66, -82px 8.66667px #ff0033, -188px -258.33333px #ff0099, -47px -228.33333px #ff00a2, 126px -276.33333px #00ff37, 27px -157.33333px #1e00ff, -169px -78.33333px #00ffea, 19px -178.33333px #5900ff, -34px -236.33333px #ff6200, 122px -80.33333px yellow, -35px -297.33333px #2600ff, 89px 21.66667px #ff0033, -62px -294.33333px #ae00ff, 110px -24.33333px #008cff, 55px -94.33333px #a200ff, 14px -156.33333px #eeff00, -51px -301.33333px #5100ff, -45px 53.66667px #ff00d5, 171px -166.33333px #ff1100, 119px -206.33333px #ff8400, -152px -88.33333px #ff0073, 190px -307.33333px #5e00ff, -69px -257.33333px #0077ff, 44px -89.33333px #ff0037, -43px -60.33333px #ff3c00, 189px -204.33333px #ff003c, 32px -181.33333px #3c00ff, 10px -255.33333px #ff0044, -61px -227.33333px #ff2b00;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: 18px -303.33333px #ff0077, -145px -242.33333px #aeff00, -9px -141.33333px #ff001e, 111px -319.33333px #ff002b, 47px -219.33333px #3700ff, 99px -76.33333px #ffa600, -157px -212.33333px #ff0062, 111px -274.33333px #a2ff00, -11px 36.66667px #00ffd9, 144px 48.66667px #ffcc00, -124px -211.33333px #44ff00, -102px -181.33333px #d000ff, 133px -218.33333px #11ff00, 152px -304.33333px #ff2b00, 191px 53.66667px #a2ff00, 153px -5.33333px #ff00a6, 112px -69.33333px #fb00ff, 4px -331.33333px #ff8000, -124px -62.33333px #ff00b7, -179px 21.66667px #ffea00, -41px -112.33333px #9d00ff, 4px -232.33333px #002fff, -105px -145.33333px #00ff66, -82px 8.66667px #ff0033, -188px -258.33333px #ff0099, -47px -228.33333px #ff00a2, 126px -276.33333px #00ff37, 27px -157.33333px #1e00ff, -169px -78.33333px #00ffea, 19px -178.33333px #5900ff, -34px -236.33333px #ff6200, 122px -80.33333px yellow, -35px -297.33333px #2600ff, 89px 21.66667px #ff0033, -62px -294.33333px #ae00ff, 110px -24.33333px #008cff, 55px -94.33333px #a200ff, 14px -156.33333px #eeff00, -51px -301.33333px #5100ff, -45px 53.66667px #ff00d5, 171px -166.33333px #ff1100, 119px -206.33333px #ff8400, -152px -88.33333px #ff0073, 190px -307.33333px #5e00ff, -69px -257.33333px #0077ff, 44px -89.33333px #ff0037, -43px -60.33333px #ff3c00, 189px -204.33333px #ff003c, 32px -181.33333px #3c00ff, 10px -255.33333px #ff0044, -61px -227.33333px #ff2b00;
            box-shadow: 18px -303.33333px #ff0077, -145px -242.33333px #aeff00, -9px -141.33333px #ff001e, 111px -319.33333px #ff002b, 47px -219.33333px #3700ff, 99px -76.33333px #ffa600, -157px -212.33333px #ff0062, 111px -274.33333px #a2ff00, -11px 36.66667px #00ffd9, 144px 48.66667px #ffcc00, -124px -211.33333px #44ff00, -102px -181.33333px #d000ff, 133px -218.33333px #11ff00, 152px -304.33333px #ff2b00, 191px 53.66667px #a2ff00, 153px -5.33333px #ff00a6, 112px -69.33333px #fb00ff, 4px -331.33333px #ff8000, -124px -62.33333px #ff00b7, -179px 21.66667px #ffea00, -41px -112.33333px #9d00ff, 4px -232.33333px #002fff, -105px -145.33333px #00ff66, -82px 8.66667px #ff0033, -188px -258.33333px #ff0099, -47px -228.33333px #ff00a2, 126px -276.33333px #00ff37, 27px -157.33333px #1e00ff, -169px -78.33333px #00ffea, 19px -178.33333px #5900ff, -34px -236.33333px #ff6200, 122px -80.33333px yellow, -35px -297.33333px #2600ff, 89px 21.66667px #ff0033, -62px -294.33333px #ae00ff, 110px -24.33333px #008cff, 55px -94.33333px #a200ff, 14px -156.33333px #eeff00, -51px -301.33333px #5100ff, -45px 53.66667px #ff00d5, 171px -166.33333px #ff1100, 119px -206.33333px #ff8400, -152px -88.33333px #ff0073, 190px -307.33333px #5e00ff, -69px -257.33333px #0077ff, 44px -89.33333px #ff0037, -43px -60.33333px #ff3c00, 189px -204.33333px #ff003c, 32px -181.33333px #3c00ff, 10px -255.33333px #ff0044, -61px -227.33333px #ff2b00;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 0%;
    margin-left: 0%;
  }
  20%, 39.9% {
    margin-top: 4%;
    margin-left: 0%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 0%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 0%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 0%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 0%;
    margin-left: 0%;
  }
  20%, 39.9% {
    margin-top: 4%;
    margin-left: 0%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 0%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 0%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 0%;
  }
}

.pri:hover {
  color: #665cd7 !important;
}

@media only screen and (max-width: 768px) {
  .time_line_his .left_arrow {
    display: none !important;
  }
  .time_line_his .right_arrow {
    display: none !important;
  }
  .time_line_his .horizontal_time_line {
    width: auto;
  }
  .time_line_his .horizontal_time_line .time_line_year {
    margin: 60px 0px 0 0px;
  }
}

@media only screen and (max-width: 767px) {
  .response-xs {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin: auto;
  }
  .privacy-gdpr {
    display: none !important;
  }
  .privacy {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .pri:hover {
    color: #665cd7 !important;
  }
  .time_line_his .text h1 {
    font-size: 2.1rem;
  }
  .time_line_his .left_arrow {
    display: none !important;
  }
  .time_line_his .right_arrow {
    display: none !important;
  }
  .time_line_his .horizontal_time_line {
    width: auto;
  }
  .time_line_his .horizontal_time_line .time_line_year {
    padding-left: 20px;
    margin: 60px 0px 0 0px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul {
    min-height: 450px;
    padding-left: 50px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul .year_title {
    top: -38px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul:before {
    left: 20px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul:after {
    left: 1px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul .bottom_content {
    min-width: 260px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul .top_content {
    min-width: 260px;
  }
}

@media only screen and (max-width: 321px) {
  .response-xs {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin: auto;
  }
  .privacy-gdpr {
    display: none !important;
  }
  .privacy {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .time_line_his .left_arrow {
    display: none !important;
  }
  .time_line_his .right_arrow {
    display: none !important;
  }
  .time_line_his .horizontal_time_line {
    width: auto;
  }
  .time_line_his .horizontal_time_line .time_line_year {
    margin: 60px 0px 0 0px;
  }
  .time_line_his .horizontal_time_line .time_line_year ul {
    min-height: 450px;
  }
}

@media only screen and (max-width: 426px) {
  .response-xs {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin: auto;
  }
  .privacy-gdpr {
    display: none !important;
  }
  .privacy {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 50% !important;
  }
  .privacy:hover {
    color: #665cd7;
  }
  .gdpr {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 50% !important;
  }
  .gdpr:hover {
    color: #665cd7;
  }
}
/*# sourceMappingURL=who_we_are.css.map */