@charset "UTF-8";
@font-face {
  font-family: "fontGraphikBold";
  src: url("../plugin/fonts/graphik/GraphikBold.otf");
}

@font-face {
  font-family: "fontGraphikLight";
  src: url("../plugin/fonts/graphik/GraphikLight.otf");
}

@font-face {
  font-family: "fontLatoRegular";
  src: url("../plugin/fonts/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "fontLatoBlack";
  src: url("../plugin/fonts/lato/Lato-Black.ttf");
}

@font-face {
  font-family: "fontLatoBold";
  src: url("../plugin/fonts/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "fontGraphikSemibold";
  src: url("../plugin/fonts/graphik/GraphikSemibold.otf");
}

.fontGraphikLight {
  font-family: "fontGraphikLight";
}

.fontGraphikBold {
  font-family: "fontGraphikBold";
}

.fontGraphikSemibold {
  font-family: "fontGraphikSemibold";
}

.fontLatoBold {
  font-family: "fontLatoBold";
}

.fontLatoRegular {
  font-family: "fontLatoRegular";
}

.fontLatoBlack {
  font-family: "fontLatoBlack";
}

.floatingNav {
  background: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 10px #999 !important;
          box-shadow: 0px 1px 10px #999 !important;
  padding: 5px 10px 0px 10px !important;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.floatingNav button {
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 36px !important;
  margin-bottom: 6px;
}

.header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 20px 10px 20px 10px;
  position: fixed;
  width: 100%;
  z-index: 12;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header .logo_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo_area .logo {
  font-size: 25px;
  font-weight: bold;
}

.header .logo_area .logo img {
  width: 132px;
}

.header .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header_menu span {
  color: #43434b;
  font-size: 1rem;
  margin: auto;
  padding: 15px 0px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.header .header_menu span:hover {
  border-bottom: 2px solid #334ac0;
}

.header .header_menu .active {
  font-weight: bold;
  color: #334ac0;
  border-bottom: 2px solid #334ac0;
}

.header .sign_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .sign_btn button {
  width: 148px;
  height: 51px;
  -webkit-box-shadow: 0 7px 12px 0 rgba(16, 31, 108, 0.07);
          box-shadow: 0 7px 12px 0 rgba(16, 31, 108, 0.07);
  font-size: 1rem;
  border-color: #334ac0;
  color: #334ac0;
}

.header .sign_btn button:hover {
  color: #ffffff;
  background-color: #334ac0;
}

.header .sign_btn button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html {
  height: 100%;
  width: 100%;
  font-family: "fontLatoRegular";
}

body {
  height: 100%;
  width: 100%;
  font-family: "fontLatoRegular";
}

.first_section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header_text {
  position: absolute;
  top: 50px;
  width: 100%;
}

.banner_text_1 {
  font-size: 4.8rem;
  font-weight: bold;
}

.banner_text_1 p {
  color: #2b2a35;
}

.banner_text_2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2;
}

.Line-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(33%, black), color-stop(0%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(black 33%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 1px 3px;
  background-repeat: repeat-y;
}

.banner_button {
  padding: 18px 30px;
  background-color: #334ac0;
  font-size: 1rem;
  color: white;
  border: none;
  font-weight: 700;
  border-radius: 5px;
}

.banner_button:focus {
  outline: none;
}

.banner__button_div {
  padding-top: 30px;
}

.other_brand {
  height: 20vh;
  background-color: rgba(51, 74, 192, 0.03);
}

.other_brand .brands {
  height: 20vh;
}

.other_brand .brands marquee {
  height: 20vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.other_brand .brands marquee .brands_logos {
  margin: 0px 40px;
}

.who_you_are {
  margin-top: 6%;
  text-align: center;
  margin-bottom: 8%;
}

.who_you_are .text h1 {
  color: #2b2a35;
}

.who_you_are .banner--text {
  font-size: 1.4rem;
  color: #878787;
}

.who_you_are .card_div {
  text-align: left;
}

.who_you_are .card_div .card-div {
  margin-top: 10%;
}

.who_you_are .card_div .card-- {
  background-color: #B3EFFF;
  padding: 58px;
  border-radius: 9px;
  background-color: #b3efff;
}

.who_you_are .card_div .card-- .card--head {
  font-weight: bold;
  color: #2b2a35;
}

.who_you_are .card_div .card-- .card--text {
  margin-top: 10%;
  margin-bottom: 30%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: #43434b;
}

.who_you_are .card_div .card-- .btnn {
  color: black;
  padding: 0px;
  font-weight: 700;
  outline: none;
  text-decoration: none;
  padding: 10px;
}

.who_you_are .card_div .card-- .btnn:hover {
  outline: none;
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}

.who_you_are .card_div .card-- .btnn i {
  font-size: 1.4rem;
  font-weight: 500;
}

.who_you_are .card_div .card-- .fa_icon {
  font-size: 28px;
  padding: 13px;
  background-color: white;
  border-radius: 35px;
  position: absolute;
  top: -24px;
  left: 65px;
  border: .5px solid #0000002e;
  height: 60px;
  text-align: center;
  width: 60px;
  vertical-align: middle;
}

.why_us {
  padding-bottom: 6%;
}

.why_us h1 {
  font-weight: 700;
}

.why_us .text {
  text-align: center;
  padding-top: 6%;
  font-size: 1.4rem;
}

.why_us .container_bg_section1 {
  background-color: rgba(51, 74, 192, 0.03);
}

.why_us .container_bg_section2 {
  background-color: #ffffff;
}

.why_us .banner--text {
  font-size: 1.4rem;
  color: #878787;
}

.why_us .row {
  padding-top: 6%;
  padding-bottom: 6%;
}

.why_us .row .text_para {
  line-height: 2.1;
  font-weight: 400;
  font-size: 1.25rem;
}

.why_us .row .btnn {
  color: #334AC0;
  padding: 0px;
  font-weight: 700;
  text-decoration: none;
}

.why_us .row .btnn i {
  font-size: 1.2rem;
  font-weight: 800;
}

.why_us .row .fa_icon {
  font-size: 28px;
  padding: 16px;
  background-color: #334AC0;
  color: white;
  border-radius: 35px;
  height: 60px;
  text-align: center;
  width: 60px;
  vertical-align: middle;
  margin-bottom: 6%;
}

.why_us .row .img_section {
  background-color: white;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0), 0 4px 4px rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 2px 9px rgba(0, 0, 0, 0.17);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0), 0 4px 4px rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 2px 9px rgba(0, 0, 0, 0.17);
  height: 100%;
  width: 65%;
  border-top-right-radius: 28px;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 70px;
}

.why_us .row .img_section img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 28px;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 70px;
  padding: 6px;
}

.why_us .row .Mascot_img {
  background-image: url("../images//Mascot.jpg");
  background-position: center;
  background-size: cover;
}

.our_secrets {
  background-color: #F9F9FD;
  padding-bottom: 6%;
}

.our_secrets h1 {
  font-weight: 700;
}

.our_secrets .text {
  text-align: center;
  padding-top: 6%;
  font-size: 1.4rem;
  padding-bottom: 6%;
}

.our_secrets .banner--text {
  font-size: 1.4rem;
  color: #878787;
}

.our_secrets .card__body_div {
  padding: 24px 20px;
  margin-bottom: 50px;
}

.our_secrets .card__body_div .card {
  height: 112%;
  border-bottom-right-radius: 28px;
  border: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0), 0 4px 4px rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 2px 9px rgba(0, 0, 0, 0.17);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0), 0 4px 4px rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 2px 9px rgba(0, 0, 0, 0.17);
}

.our_secrets .card__body_div .card_primary {
  background-color: #334ac0;
}

.our_secrets .card__body_div .card_primary a {
  color: #ffffff;
  text-decoration: none;
}

.our_secrets .card__body_div .card-title {
  margin-bottom: 1.58rem;
}

.our_secrets .card__body_div .card__body {
  margin: auto;
  padding: 40px 40px;
}

.our_secrets .card__body_div .card__body .fa_icon {
  -webkit-box-shadow: 0 3px 1px 0 rgba(55, 89, 93, 0.07);
          box-shadow: 0 3px 1px 0 rgba(55, 89, 93, 0.07);
  box-shadow: 0 3px 1px 0 rgba(55, 89, 93, 0.07);
  font-size: 28px;
  padding: 26px 23px;
  background-color: white;
  border-radius: 60px;
  position: absolute;
  top: -40px;
  left: 40px;
  border: 0.5px solid rgba(51, 74, 192, 0.15);
  height: 81px;
  text-align: center;
  width: 81px;
  vertical-align: middle;
}

.our_secrets .card__body_div .card__body .fa_icon img {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our_secrets .card__body_div h5 {
  font-weight: 700;
}

.crayond_ceo {
  background-color: rgba(192, 152, 51, 0.05);
  padding: 6% 0;
}

.crayond_ceo .about-crayond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crayond_ceo .about-crayond .row {
  margin: auto;
  position: relative;
}

.crayond_ceo .about-crayond .row span {
  color: #c7ac1f;
}

.crayond_ceo .about-crayond .row .details_of_crayond {
  font-size: 2rem;
  font-weight: 300;
}

.crayond_ceo .about-crayond .row .details_of_crayond .text_bold {
  color: #2b2a35;
}

.crayond_ceo .about-crayond .row .details_of_crayond:before {
  content: '“';
  left: -15px;
  top: -15px;
  position: absolute;
  color: #c7ac1f;
  font-weight: 600;
  font-size: 2.5rem;
}

.crayond_ceo .about-crayond .row .name_of_writer {
  width: 100%;
}

.crayond_ceo .about-crayond .row img {
  width: 65px;
}

.crayond_ceo .images_ceo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crayond_ceo .images_ceo img {
  margin: 0 0 0 auto;
  width: 400px;
  height: auto;
}

.next_billion {
  background-color: #334ac0;
  text-align: center;
  position: relative;
}

.next_billion .ovel {
  position: absolute;
  right: 15.9%;
}

.next_billion .ovel-6 {
  position: absolute;
  top: 9.3%;
  right: 20.9%;
}

.next_billion .billion {
  padding-top: 6%;
  padding-bottom: 6%;
}

.next_billion .billion .titel_button {
  padding-bottom: 30px;
}

.next_billion .billion .titel_button .button {
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.08);
  font-size: 1rem;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.next_billion .billion .titel_button .button:focus {
  outline: none;
}

.next_billion .billion h1 {
  color: #ffffff;
}

.next_billion .billion .button_div {
  padding-top: 30px;
}

.next_billion .billion .button_div .banner_button {
  cursor: pointer;
  padding: 18px 30px;
  background-color: #ffffff;
  font-size: 1rem;
  color: #334ac0;
  border: none;
  font-weight: 700;
  border-radius: 5px;
}

.next_billion .billion .button_div .banner_button:focus {
  outline: none;
}

.next_billion .path-3 {
  position: absolute;
  bottom: 15.5%;
  right: 28.5%;
}

.next_billion .path {
  position: absolute;
  left: 19.6%;
  bottom: 0;
}

.footer {
  padding-bottom: 6%;
  padding-top: 6%;
}

.footer .logo_address img {
  margin-bottom: 25px;
}

.footer .logo_address p {
  color: #43434b;
  margin-bottom: 8px;
}

.footer .footer_menu {
  margin-bottom: 25px;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  padding-bottom: 10px;
  list-style-type: none;
}

.footer ul li span {
  color: #43434b;
  cursor: pointer;
}

.footer ul li span:hover {
  text-decoration: underline;
  color: #334ac0;
}

.footer_social_media {
  border-top: 1px solid rgba(25, 34, 79, 0.08);
}

.footer_social_media .footer_list {
  padding: 15px 80px 15px 0px;
  margin: 0;
}

.footer_social_media .footer_list span {
  font-size: 1rem;
  color: #43434b;
  cursor: pointer;
}

.footer_social_media .footer_list span:hover {
  color: #334ac0;
}

.footer_social_media .social_icon {
  width: 39px;
  height: 37px;
  background-color: #ffffff;
  margin: 10px 10px 10px 0px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 1px 0 rgba(55, 89, 93, 0.07);
          box-shadow: 0 3px 1px 0 rgba(55, 89, 93, 0.07);
  border: solid 1px #d4e4e6;
}

.footer_social_media .social_icon:hover {
  background-color: rgba(29, 46, 137, 0.05);
}

.footer_social_media .social_icon i {
  margin: auto;
  color: #334ac0;
}
/*# sourceMappingURL=styles.css.map */