html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
.first_section{
    height: 100vh;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
}
.banner_text_1{
    font-size: 4.8rem;
    font-weight: bold;
}
.banner_text_2{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2;
}

.banner_button{
    padding: 18px 30px;
    background-color: #334AC0;
    font-size: 1rem;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 5px;
}
.banner__button_div{
    padding-top: 30px;
}
.other_brand{
    height: 20vh;
    background-color: #F8F9FD;
}
.who_you_are{
    margin-top: 6%;
    text-align: center;
    margin-bottom: 8%;
    .banner--text{
        font-size: 1.4rem;
    }
    .card_div{
        .card-div{
            margin-top: 10%;
        }
        text-align: left;
        .card--{
            background-color: #B3EFFF;
            padding: 58px;
            border-radius: 9px;
            .card--head{
                font-weight: bold;
            }
            .card--text{
                margin-top: 10%;
                margin-bottom: 30%;
                font-size: 1rem;
                font-weight: 400;
                line-height: 2;
            }
            .btn{
                color: black;
                padding:0px;
                font-weight: 700;
            }
            .fa_icon{
                font-size: 28px;
                padding: 13px;
                background-color: white;
                border-radius: 35px;
                position: absolute;
                top: -24px;
                left: 65px;
                border: .5px solid #0000002e;
                height: 60px;
                text-align: center;
                width: 60px;
                vertical-align: middle;
            }
        }
    }
}
.why_us{
    background-color: #F9F9FD;
    padding-bottom: 6%;
    h1{
        font-weight: 700;
    }
    .text{
        text-align: center;
        padding-top: 6%;
        font-size: 1.4rem;
    }
    .row{
        padding-top: 6%;
        .text_para{
            line-height: 2.5;
            // padding-right: 54px;
            font-weight: 400;
        }
        .btn{
            color: #334AC0;
            padding:0px;
            font-weight: 700;
        }
        .fa_icon{
            font-size: 28px;
            padding: 16px;
            background-color: #334AC0;
            color: white;
            border-radius: 35px;
            height: 60px;
            text-align: center;
            width: 60px;
            vertical-align: middle;
            margin-bottom: 6%;
        }
        .img_section{
            background-color: white;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0), 0 4px 4px rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 2px 9px rgba(0, 0, 0, 0.17);
            height: 100%;
            width: 86%;
            border-top-right-radius: 28px;
            border-top-left-radius: 28px;
            border-bottom-left-radius: 28px;
            border-bottom-right-radius: 70px;
        }
    }
}
.our_secrets{
    background-color: #F9F9FD;
    padding-bottom: 6%;
    h1{
        font-weight: 700;
    }
    .text{
        text-align: center;
        padding-top: 6%;
        font-size: 1.4rem;
        padding-bottom: 6%;
    }
    .card__body_div{
        .card{
            height: 112%;
            border-bottom-right-radius: 28px;
            border: none;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0), 0 4px 4px rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 2px 9px rgba(0, 0, 0, 0.17);
        }
        padding: 24px 20px;
        .card-title {
            margin-bottom: 1.58rem;
        }
        .card__body{
            padding: 20px 40px;
        }
        h5{
            font-weight: 700;
        }
    }
}
// 
